<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @friend.name %>
</p>

<p>
  <b>Prefecture:</b>
  <%= @friend.prefecture %>
</p>

<p>
  <b>Twitter:</b>
  <%= @friend.twitter %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Destroy', @friend, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', friends_path %>
