<p id="notice"><%= notice %></p>

<p>
  <b>氏名：</b>
  <%= @friend.name %>
</p>

<p>
  <b>県：</b>
  <%= @friend.prefecture %>
</p>

<p>
  <b>TwitterID：</b>
  <%= @friend.twitter %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Destroy', @friend, confirm: 'Are you sure?', method: :delete %>
