<p>
  <b>氏名：</b>
  <%= @friend.name %>
</p>

<p>
  <b>県：</b>
  <%= @friend.prefecture %>
</p>

<p>
  <b>TwitterID：</b>
  ＠<%= @friend.twitter %>
</p>

<% if @event.user_id == current_user.id %>
  <%= link_to '↑いじる', edit_friend_path(@friend) %> |
  <%= link_to 'コレいらない', @friend, confirm: '削除しちゃうよ？', method: :delete %>
<% else %>
  <%= link_to '自分のMapに戻る', map_events_path %>
<% end %>
