<p>
  <b>氏名：</b>
  <%= @friend.name %>
</p>

<p>
  <b>県：</b>
  <%= @friend.prefecture %>
</p>

<p>
  <b>TwitterID：</b>
  ＠<%= @friend.twitter %>
</p>

<%= link_to '↑いじる', edit_friend_path(@friend) %> |
<%= link_to 'コレいらない', @friend, confirm: '削除しちゃうよ？', method: :delete %>
