<p>
  <b>イベント名：</b>
  <%= @event.name %>
</p>

<p>
  <b>住所：</b>
  <%= @event.address %>
</p>

<p>
  <b>開催日：</b>
  <%= @event.organize_at %>
</p>

<p>
  <b>緯度：</b>
  <%= @event.latitude %>
</p>

<p>
  <b>経度：</b>
  <%= @event.longitude %>
</p>

<%= link_to '↑いじる', edit_event_path(@event) %> |
<%= link_to 'コレいらない', @event, confirm: '削除しちゃうよ？', method: :delete %>
