<!DOCTYPE html>
<html>
<head>
  <title>Footprints</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

</head>

<body>

  <div id="header">
    <div id="logo">
      コミュの履歴、知り合いmap
    </div>
    <div id="menu_map">
      <%= link_to (image_tag ("menu_map.jpg"), :width => "110px"), map_events_path %>
    </div>
    <div id="menu_map">
      <%= link_to (image_tag ("menu_list.jpg"), :width => "70px"), events_path %>
    </div>
  </div>

  <div id="side">
    <div id="eventsubmit">
      <%= form_for(@event) do |f| %>
        イベント名<%= f.text_field :name, :size => "20" %><br />
        住所<%= f.text_field :address %><br />
        日にち<%= f.date_select :organize_at %><br />
        <%= button_to_function '登録', "javascript:void(0)", :id => "event_button" %>
      <% end %>
    </div>
  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
