<!DOCTYPE html>
<html>
<head>
  <title>Footprints</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

</head>

<body>

  <div id="header">
    <div id="logo">
      勉強会の履歴、知り合いmap
    </div>
    <div id="menu_map">
      <%= link_to (image_tag ("menu_map.jpg"), :width => "110px"), map_events_path %>
    </div>
    <div id="menu_map">
      <%= link_to (image_tag ("menu_list.jpg"), :width => "70px"), events_path %>
    </div>
  </div>

  <div id="side">
    <div id="submit_area">
      <% if current_user %>  
        ようこそ, <%= current_user.name %>！  <%= link_to "Sign Out", signout_path %>
      <% end %>
      <table>
        <%= form_for(@event) do |f| %>
          <tr>
            <td>イベント</td><td><%= f.text_field :name, :size => "15" %></td>
          </tr>
          <tr>
            <td>住所</td><td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <td>日程</td><td><%= f.date_select :organize_at %></td>
          </tr>
          <tr>
            <td><%= button_to_function 'ぺた', "", :id => "event_button" %></td>
          </tr>
        <% end %>
        <%= form_for(@friend) do |f| %>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>名前</td><td><%= f.text_field :name, :size => "15" %></td>
          </tr>
          <tr>
            <td>県</td><td><%= f.select :prefecture, Friend::Prefecture_name.collect {|p| [p, p]}, :prompt => "" %></td>
          </tr>
          <tr>
            <td>twitter</td><td><%= f.text_field :twitter, :size => "15" %></td>
          </tr>
          <tr>
            <td><%= button_to_function 'ぺた', "", :id => "friend_button" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
